body {
    min-width: 1200px;

    font-size: 14px;
    line-height: 21px;
    font-family: 'PT Sans', 'Arial', sans-serif;

    text-transform: uppercase;

    background-color: #f2f2f2;
    color: #333333;
}

.container {
    margin: 0 auto;

    width: 1200px;

    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    position: relative;

    min-height: 780px;

    background-color: #fff;

    background: url("../img/header_bg.jpg") 0 0 no-repeat;
}

.main-header.inner-page {
    min-height: 58px;
}

.main-menu {
    display: flex;

    margin: 0;
    padding: 0 72px;

    list-style: none;

    background-color: #fff;
}

.main-logo img {
    position: absolute;

    display: block;
    top: 0;
    left: 50%;

    margin-left: -69px;

    width: 138px;
    height: 70px;
}

.menu-item {
    padding: 16px 0;

    width: 264px;

    text-align: left;
}

.menu-item:nth-child(n + 3) {
    text-align: right;
}

.menu-item a {
    line-height: 26px;
    font-weight: bold;

    text-decoration: none;

    color: #000;
}

.menu-item a:hover {
    color: #81b3d2;
}

.menu-item a:active {
    color: #000;
    opacity: 0.3;
}

.menu-item.current-page a,
.menu-item.current-page a:hover,
.menu-item.current-page a:active {
    color: #766357;
    opacity: 1;
}

.header-greeting-title {
    position: relative;

    padding-top: 76px;
    padding-bottom: 80px;
}

.header-greeting-title img {
    display: block;

    margin: 0 auto;
}

.header-greeting-title::after {
    content: "";

    position: absolute;

    bottom: 0;
    left: 0;

    width: 1200px;
    height: 57px;
    background: url("../img/decorate_header_shape.png") 0 0 no-repeat;
}

.about-description {
    padding: 60px 313px 53px 312px;
    background-color: #fff;
}

.about-description b {
    display: inline-block;

    padding-bottom: 30px;

    font-size: 21px;
    line-height: 26px;

    text-align: center;

    color: #000;
}

.about-description p {
    margin: 0;

    line-height: 26px;

    text-align: center;
}

.feature-1,
.feature-2,
.feature-3-5 {
    display: flex;
}

.feature-info {
    padding: 47px 45px 58px 45px;
    width: 400px;

    text-align: center;

    color: #fff;
    background-color: #81b3d2;
}

.feature-3-5 .feature-info {
    padding: 47px 60px 58px 60px;
    background-color: #eeeeee;
}

.feature-title {
    margin: 0;
    padding-bottom: 24px;

    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.feature-3-5 .feature-title {
    color: #000;
}

.feature-number {
    position: relative;

    display: inline-block;

    margin: 0;
    padding-bottom: 22px;
}

.feature-3-5 .feature-number {
    color: #333333;
}

.feature-number::before {
    content: "";

    position: absolute;

    top: 10px;
    left: -17px;

    width: 14px;
    height: 1px;
    background-color: #fff;
}

.feature-3-5 .feature-number::before {
    background-color: #333333;
}

.feature-number::after {
    content: "";

    position: absolute;

    top: 10px;
    left: 23px;

    width: 14px;
    height: 1px;
    background-color: #fff;
}

.feature-3-5 .feature-number::after {
    background-color: #333333;
}

.feature-description {
    margin: 0;
}

.feature-3-5 .feature-description {
    color: #333333;
}

.feature-logo {
    width: 800px;
    height: 256px;
}

.feature-logo img {
    width: 800px;
    height: 256px;
}

.services {
    background-color: #fff;
}

.services-list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.services-item {
    position: relative;

    padding: 162px 55px 84px 55px;
    width: 400px;

    text-align: center;
}

.services-item:after {
    content: "";

    position: absolute;

    top: 60px;
    left: 50%;
}

.services-item:first-child:after {
    top: 60px;

    width: 76px;
    height: 72px;

    margin-left: -38px;

    background: url("../img/service_icon_1.svg") 0 0 no-repeat;
}

.services-item:nth-child(2):after {
    top: 59px;

    width: 74px;
    height: 70px;

    margin-left: -35px;
    background: url("../img/service_icon_2.svg") 0 0 no-repeat;
}

.services-item:last-child:after {
    top: 56px;

    width: 64px;
    height: 76px;

    margin-left: -32px;
    background: url("../img/service_icon_3.svg") 0 0 no-repeat;
}

.service-title {
    margin: 0;
    padding-bottom: 21px;

    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.service-description {
    margin: 0;
}

.reservation {
    padding: 57px 316px 0 316px;
    background-color: #fff;
}


.reservation b {
    display: inline-block;

    padding-bottom: 30px;

    width: 568px;

    font-size: 30px;
    line-height: 36px;
    font-weight: bold;

    text-align: center;

    color: #000;
}

.reservation p {
    margin: 0;
    padding-bottom: 47px;

    text-align: center;
}

.reservation-button {
    font: inherit;
    color: inherit;

    display: inline-block;

    margin: 0 auto;
    padding: 34px 139px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;

    width: 568px;

    color: #fff;
    background-color: #766357;
    border: none;
}

.reservation-button:hover {
    background-color: #604e43;
}

.reservation-button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.footer-contact-map {
    position: relative;

    width: 1200px;
    height: 593px;
}

.footer-contact-map iframe {
    width: 100%;
    height: 100%;
}

.footer-bottom {
    display: flex;
    align-items: center;

    position: absolute;

    bottom: 0;
    left: 0;

    background-color: rgba(255, 255, 255, 0.9);
}

.footer-bottom.inner-page {
    display: flex;

    position: relative;

    background-color: #fff;
}

.footer-bottom b {
    display: inline-block;

    width: 400px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;

    text-align: center;

    color: #000;
}

.footer-social {
    width: 400px;

    padding: 36px 0;

    text-align: center;
}

.social-list {
    display: block;

    margin: auto 0;
    padding: 0;

    list-style: none;
}

.social-list li {
    display: inline-block;

    vertical-align: middle;
}

.social-item {
    position: relative;

    display: block;

    padding-right: 4px;

    width: 46px;
    height: 48px;

    background-color: #81b3d2;
}

.social-item:hover {
    background-color: #669ec0;
}

.social-item:active {
    background-color: #5496bd;
}

.social-item:active::before {
    opacity: 0.3;
}

.social-item:last-child {
    padding-right: 0px;
}

.social-item::before {
    content: "";

    position: absolute;
}

.social-vk::before {
    top: 50%;
    left: 50%;

    margin-top: -8px;
    margin-left: -9px;

    width: 18px;
    height: 16px;

    background: url("../img/social_twitter.svg") center no-repeat;
}

.social-fb::before {
    top: 50%;
    left: 50%;

    margin-top: -11px;
    margin-left: -6px;

    width: 12px;
    height: 22px;

    background: url("../img/social_facebook.svg") center no-repeat;
}

.social-youtube::before {
    top: 50%;
    left: 50%;

    margin-top: -8px;
    margin-left: -10px;

    width: 20px;
    height: 16px;

    background: url("../img/social_youtube.svg") center no-repeat;
}

.footer-developer {
    width: 400px;

    text-align: center;
}

.footer-developer p {
    display: inline-block;

    vertical-align: middle;

    margin: 0;
    padding-right: 6px;

    line-height: 26px;

    color: #000;
}

.footer-developer-logo {
    display: inline-block;

    vertical-align: middle;

    width: 115px;
    height: 42px;
}

.footer-developer-logo:hover svg {
    fill: #81b3d2;
}

.footer-developer-logo:active svg {
    fill: #bdbbbc;
}

.modal {
    box-sizing: border-box;

    padding: 55px;

    width: 568px;
    height: 395px;

    background-color: #fff;
}

.form-group {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 29px;
}

.form-date-wrapper {
    position: relative;

}

.form-group label {
    line-height: 26px;

    font-weight: bold;

    color: #000;
}

.form-group input {
    font: inherit;

    box-sizing: border-box;

    padding: 6px 13px;

    width: 346px;

    line-height: 26px;
    font-weight: bold;

    color: #000;
    background-color: #f2f2f2;

    text-transform: uppercase;

    border: none;
}

.form-group input::placeholder {
    font: inherit;

    line-height: 26px;

    color: #000;

    text-transform: uppercase;
}

.form-group input:hover {
    background-color: #ebebeb;
}

.form-group input:focus {
    padding: 4px 11px;
    padding-right: 34px;

    background-color: #fff;
    border: 2px solid #e5e5e5;

    outline: none;
}

.calendar-button {
    position: absolute;

    padding: 0;

    top: 0;
    right: 0;

    width: 37px;
    height: 38px;

    background-color: transparent;
    border: none;
}

.calendar-icon {
    display: block;
    margin: auto;

    width: 21px;
    height: 22px;
}

.calendar-icon:hover {
    fill: #000;
    cursor: pointer;
}

.calendar-icon:active {
    fill: #81b3d2;
}

.form-group-age {
    margin-bottom: 54px;
}

.form-group-age-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 229px;
}

.form-group-age-wrap:last-of-type label {
    margin-left: 50px;
}

.form-group-age-wrap input {
    padding: 6px 10px;

    width: 38px;

    text-align: center;
}

.count-buttons-wrap:first-of-type {
    margin-right: 3px;
}

.form-group-age-wrap input:focus {
    padding: 4px 8px;
}

.count-buttons-wrap {
    display: flex;
}

.button-count-minus,
.button-count-plus {
    position: relative;

    display: block;

    width: 38px;
    height: 38px;

    background-color: #f2f2f2;

    border: none;
}

.button-count-minus::before,
.button-count-plus::before {
    content: "";

    position: absolute;

    width: 12px;
    height: 4px;

    top: 50%;
    left: 50%;

    margin-top: -2px;
    margin-left: -6px;

    background-color: #a9a9a9;
}

.button-count-plus::after {
    content: "";

    position: absolute;

    width: 4px;
    height: 12px;

    top: 50%;
    left: 50%;

    margin-top: -6px;
    margin-left: -2px;

    background-color: #a9a9a9;
}

.button-count-minus:hover::before,
.button-count-plus:hover::before,
.button-count-plus:hover::after {
    background-color: #000;
}

.button-count-minus:active::before,
.button-count-plus:active::before,
.button-count-plus:active::after {
    background-color: #81b3d2;
}

.modal-button {
    font: inherit;

    display: inline-block;

    margin: 0 auto;
    margin-bottom: 55px;
    padding: 15px 196px 22px 196px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;

    text-transform: uppercase;

    width: 458px;

    color: #fff;
    background-color: #81b3d2;
    border: none;
}

.modal-button:hover {
    background-color: #669ec0;
}

.modal-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
}

.filter {
    padding: 28px 72px 31px 72px;
    background-color: #000;
    background: url("../img/filter_bg.jpg") center no-repeat;

    color: #fff;
}

.filter-form {
    display: flex;
}

fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filter-infrastructure,
.filter-housing-type {
    width: 255px;
}

.filter-price {
    margin-left: auto;
}

.filter-title {
    padding-bottom: 26px;

    font-size: 16px;
    font-weight: bold;
}

.filter-price .filter-title {
    padding-bottom: 12px;
}

.filter-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-infrastructure .filter-item,
.filter-housing-type .filter-item {
    position: relative;

    padding-bottom: 23px;
    padding-left: 40px;
}

.filter-infrastructure .filter-item:last-of-type,
.filter-housing-type .filter-item:last-of-type {
    padding-bottom: 0;
}

.checkbox-filter+label::before {
    content: "";

    position: absolute;

    box-sizing: border-box;

    width: 23px;
    height: 23px;

    top: 0;
    left: 2px;

    border: 2px solid #fff;
    border-radius: 3px;
}

.checkbox-filter:checked+label::before {
    border: none;
}

.checkbox-filter:checked+label::after {
    content: "";

    position: absolute;

    box-sizing: border-box;

    width: 27px;
    height: 23px;

    top: 0;
    left: 2px;

    background: url("../img/checkbox-on.svg") center no-repeat;
}

.checkbox-filter:disabled+label::before,
.checkbox-filter:checked:disabled+label::after {
    opacity: 0.4;
}

.filter-price-wrapper {
    display: flex;

    width: 318px;
}

.filter-price-item-wrap {
    width: 160px;
}

.filter-price-item label {
    box-sizing: border-box;

    display: inline-block;

    margin-right: -4px;
    padding: 7px 0;

    text-align: right;

    border: 2px solid #fff;
    border-right: none;
    border-radius: 2px 0 0 2px;
}

.item-left label {
    width: 85px;
}

.item-right label {
    position: relative;

    width: 73px;

    border-left: none;
    border-radius: 0;
}

.item-right label::before {
    content: "";

    position: absolute;

    width: 2px;
    height: 22px;

    top: 50%;
    left: 0;

    margin-top: -11px;

    background-color: #fff;
}

.filter-price input {
    font: inherit;
    color: inherit;

    display: inline-block;

    box-sizing: border-box;

    padding: 7px 4px;

    text-align: left;
    text-transform: uppercase;

    background-color: transparent;

    border: 2px solid #fff;
    border-left: none;

    outline: none;
}

.item-left input {
    width: 74px;
    border-right: none;
    border-radius: 0;
}

.item-right input {
    width: 86px;
    border-radius: 0 2px 2px 0;
}

.range-filter {
    width: 317px;
    height: 20px;

    margin-left: 1px;
    padding-top: 11px;
    padding-bottom: 23px;

}

.progress-line {
    position: relative;

    display: block;

    margin: 10px 0;

    width: 317px;
    height: 2px;


    background-color: #7f8284;
}

.progress-line::after {
    content: "";

    position: absolute;

    top: 50%;
    left: 14px;

    margin-top: -1px;

    width: 246px;
    height: 2px;

    background-color: #fff;
}

.control-trigger-min,
.control-trigger-max {
    width: 4px;
    height: 4px;

    background-color: #ababab;

    border: 8px solid #fff;
    border-radius: 50%;

    box-shadow: 0 2px 1px #79706f;

    overflow: hidden;

    cursor: pointer;
}


.control-trigger-min {
    content: "";

    position: absolute;

    top: 50%;
    left: 0px;

    margin-top: -10px;
    z-index: 1;
}

.control-trigger-max {
    content: "";

    position: absolute;

    top: 50%;
    left: 252px;

    margin-top: -10px;
    z-index: 1;
}

.control-trigger-min:hover,
.control-trigger-max:hover {
    margin-top: -11px;

    width: 6px;
    height: 6px;
}

.form-button {
    font: inherit;

    display: block;

    box-sizing: border-box;

    margin: 0 auto;
    padding: 6px 34px;

    width: 137px;

    text-transform: uppercase;

    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
}

.form-button:hover {
    padding: 8px 36px;

    color: #000;
    background-color: #fff;
    border: none;
}

.content-sort {
    display: flex;
    align-items: center;

    padding: 31px 72px;

    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.search-result {
    width: 135px;

    font-size: 21px;
    line-height: 26px;

    color: #000;
}

.sort-title {
    margin: 0;
    padding: 0;
    padding-top: 7px;

    width: 105px;

    font-size: 12px;
    line-height: 18px;
    font-weight: normal;

    color: #000;
}

.sort-list {
    margin: 0;
    padding: 0;

    width: 288px;

    list-style: none;
}

.sort-list li {
    display: inline-block;

    margin-left: 32px;
    padding-top: 7px;

    border-bottom: 1px dotted #81b3d2;
}

.sort-list li:first-child {
    margin-left: 39px;
}

.list-item {
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;

    color: rgba(0, 0, 0, 0.3);
}

.list-item:hover {
    color: #81b3d2;
}

.list-item:active {
    color: #000;
}

.sort-list li:active {
    border-bottom: none;
}

.list-item.active {
    color: rgba(129, 179, 210, 1);

    cursor: auto;
}

.top-down-sort {
    margin-left: auto;
    padding: 0 1px;

    width: 36px;
}

.top-down-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-arrow {
    display: inline-block;

    vertical-align: bottom;
    width: 11px;
    height: 10px;
}

.sort-arrow-up {
    margin-right: 10px;
}

.top-sort-arrow,
.down-sort-arrow {
    display: block;

    border-width: 10px 5.5px;
    border-style: solid;
    border-color: #cbcbcb;

    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.down-sort-arrow {
    transform: rotate(180deg);
}

.sort-arrow a:hover {
    border-color: #000;
    border-left-color: transparent;
    border-right-color: transparent;
}

.sort-arrow a:active {
    border-color: #81b3d2;
    border-left-color: transparent;
    border-right-color: transparent;
}

.sort-arrow.active a {
    border-color: #81b3d2;
    border-left-color: transparent;
    border-right-color: transparent;
}

.booking-list {
    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #fff;
}

.booking-item {
    display: flex;

    padding: 28px 72px 30px 72px;

    border-bottom: 1px solid #e5e5e5;
}

.booking-logo {
    padding-right: 30px;

    width: 135px;
    height: 90px;
}

.booking-logo img {
    width: 135px;
    height: 90px;
}

.booking-info {
    padding-right: 522px;

    width: 258px;
}

.booking-title {
    margin: 0;
    margin-top: -6px;
    padding-bottom: 10px;

    font-size: 21px;
    line-height: 26px;

    color: #000;
}

.booking-title:hover {
    color: #81b3d2;
}

.booking-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.booking-type {
    display: inline-block;

    margin: 0;
    padding-right: 2px;

    width: 110px;
}

.booking-price {
    display: inline-block;

    margin: 0;
    padding-bottom: 13px; 

    width: 142px;
}

.booking-more-info-button {
    font: inherit;
    color: inherit;

    box-sizing: border-box;

    display: inline-block;

    margin-right: 2px; 
    padding: 3px 17px;

    width: 110px;

    font-weight: bold;
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;
    background-color: #81b3d2; 
}

.booking-button {
    font: inherit;
    color: inherit;

    box-sizing: border-box;

    display: inline-block;

    padding: 3px 17px;

    width: 142px;

    font-weight: bold;
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;
    background-color: #766357;  
    
    border: none;
}

.booking-more-info-button:hover {
    background-color: #669ec0;      
}

.booking-more-info-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);      
}

.booking-button:hover {
    background-color: #604e43;     
}

.booking-button:active {
    background-color: #503e33; 
    color: rgba(255, 255, 255, 0.3);      
}

.rating-stars {
    width: 110px;
}

.stars-list {
    margin: 0;
    padding: 0;
    padding-bottom: 41px;

    text-align: right;

    list-style: none;
}

.star-item {
    display: inline-block;

    padding-right: 3px;
    
    width: 18px;
    height: 17px;

    background: url("/img/rating-star.svg") center no-repeat;
}

.star-item:last-child {
    padding-right: 0;
}

.rating-number {
    margin: 0;
    padding: 3px 13px 3px 15px;

    color: #666666;
    background-color: #f2f2f2;
}