body {
    min-width: 1200px;

    font-size: 14px;
    line-height: 21px;
    font-family: 'PT Sans', 'Arial', sans-serif;

    text-transform: uppercase;

    background-color: #f2f2f2;
    color: #333333;
}

.container {
    margin: 0 auto;

    width: 1200px;

    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    position: relative;

    min-height: 780px;

    background-color: #fff;

    background: url("../img/header_bg.jpg") 0 0 no-repeat;
}

.main-menu {
    display: flex;

    margin: 0;
    padding: 0 72px;

    list-style: none;

    background-color: #fff;
}

.main-logo img {
    position: absolute;

    display: block;
    top: 0;
    left: 50%;

    margin-left: -69px;

    width: 138px;
    height: 70px;
}

.menu-item {
    padding: 16px 0;

    width: 264px;

    text-align: left;
}

.menu-item:nth-child(n + 3) {
    text-align: right;
}

.menu-item a {
    line-height: 26px;
    font-weight: bold;

    text-decoration: none;

    color: #000;
}

.menu-item a:hover {
    color: #81b3d2;
}

.menu-item a:active {
    color: #000;
    opacity: 0.3;
}

.menu-item.current-page a,
.menu-item.current-page a:hover,
.menu-item.current-page a:active {
    color: #766357;
    opacity: 1;
}

.header-greeting-title {
    position: relative;

    padding-top: 76px;
    padding-bottom: 80px;
}

.header-greeting-title img {
    display: block;

    margin: 0 auto;
}

.header-greeting-title::after {
    content: "";

    position: absolute;

    bottom: 0;
    left: 0;

    width: 1200px;
    height: 57px;
    background: url("../img/decorate_header_shape.png") 0 0 no-repeat;
}

.about-description {
    padding: 60px 313px 53px 312px;
    background-color: #fff;
}

.about-description b {
    display: inline-block;

    padding-bottom: 30px;

    font-size: 21px;
    line-height: 26px;

    text-align: center;

    color: #000;
}

.about-description p {
    margin: 0;

    line-height: 26px;

    text-align: center;
}

.feature-1,
.feature-2,
.feature-3-5 {
    display: flex;
}

.feature-info {
    padding: 47px 45px 58px 45px;
    width: 400px;

    text-align: center;

    color: #fff;
    background-color: #81b3d2;
}

.feature-3-5 .feature-info {
    padding: 47px 60px 58px 60px;
    background-color: #eeeeee;
}

.feature-title {
    margin: 0;
    padding-bottom: 24px;

    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.feature-3-5 .feature-title {
    color: #000;
}

.feature-number {
    position: relative;

    display: inline-block;

    margin: 0;
    padding-bottom: 22px;
}

.feature-3-5 .feature-number {
    color: #333333;
}

.feature-number::before {
    content: "";

    position: absolute;

    top: 10px;
    left: -17px;

    width: 14px;
    height: 1px;
    background-color: #fff;
}

.feature-3-5 .feature-number::before {
    background-color: #333333;
}

.feature-number::after {
    content: "";

    position: absolute;

    top: 10px;
    left: 23px;

    width: 14px;
    height: 1px;
    background-color: #fff;
}

.feature-3-5 .feature-number::after {
    background-color: #333333;
}

.feature-description {
    margin: 0;
}

.feature-3-5 .feature-description {
    color: #333333;
}

.feature-logo {
    width: 800px;
    height: 256px;
}

.feature-logo img {
    width: 800px;
    height: 256px;
}

.services {
    background-color: #fff;
}

.services-list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.services-item {
    position: relative;

    padding: 162px 55px 84px 55px;
    width: 400px;

    text-align: center;
}

.services-item:after {
    content: "";

    position: absolute;

    top: 60px;
    left: 50%;
}

.services-item:first-child:after {
    top: 60px;

    width: 76px;
    height: 72px;

    margin-left: -38px;

    background: url("../img/icon-1.svg") 0 0 no-repeat;
}

.services-item:nth-child(2):after {
    top: 59px;

    width: 74px;
    height: 70px;

    margin-left: -35px;
    background: url("../img/icon-2.svg") 0 0 no-repeat;
}

.services-item:last-child:after {
    top: 56px;

    width: 64px;
    height: 76px;

    margin-left: -32px;
    background: url("../img/icon-3.svg") 0 0 no-repeat;
}

.service-title {
    margin: 0;
    padding-bottom: 21px;

    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.service-description {
    margin: 0;
}

.reservation {
    padding: 57px 316px 0 316px;
    background-color: #fff;
}


.reservation b {
    display: inline-block;

    padding-bottom: 30px;

    width: 568px;

    font-size: 30px;
    line-height: 36px;
    font-weight: bold;

    text-align: center;

    color: #000;
}

.reservation p {
    margin: 0;
    padding-bottom: 47px;

    text-align: center;
}

.reservation-button {
    font: inherit;
    color: inherit;

    display: inline-block;

    margin: 0 auto;
    padding: 34px 139px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;

    width: 568px;

    color: #fff;
    background-color: #766357;
    border: none;
}

.reservation-button:hover {
    background-color: #604e43;
}

.reservation-button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.footer-contact-map {
    position: relative;

    width: 1200px;
    height: 593px;
}

.footer-contact-map iframe {
    width: 100%;
    height: 100%;
}

.footer-bottom {
    display: flex;
    align-items: center;

    position: absolute;

    bottom: 0;
    left: 0;

    background-color: rgba(255, 255, 255, 0.9);
}

.footer-bottom b {
    display: inline-block;

    width: 400px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;

    text-align: center;

    color: #000;
}

.footer-social {
    width: 400px;

    padding: 36px 0;

    text-align: center;
}

.social-list {
    display: block;

    margin: auto 0;
    padding: 0;

    list-style: none;
}

.social-list li {
    display: inline-block;

    vertical-align: middle;
}

.social-item {
    position: relative;

    display: block;

    padding-right: 4px;

    width: 46px;
    height: 48px;

    background-color: #81b3d2;
}

.social-item:hover {
    background-color: #669ec0;
}

.social-item:active {
    background-color: #5496bd;
}

.social-item:active::before {
    opacity: 0.3;
}

.social-item:last-child {
    padding-right: 0px;
}

.social-item::before {
    content: "";

    position: absolute;
}

.social-vk::before {
    top: 50%;
    left: 50%;

    margin-top: -8px;
    margin-left: -9px;

    width: 18px;
    height: 16px;

    background: url("../img/twitter.svg") center no-repeat;
}

.social-fb::before {
    top: 50%;
    left: 50%;

    margin-top: -11px;
    margin-left: -6px;

    width: 12px;
    height: 22px;

    background: url("../img/facebook.svg") center no-repeat;
}

.social-youtube::before {
    top: 50%;
    left: 50%;

    margin-top: -8px;
    margin-left: -10px;

    width: 20px;
    height: 16px;

    background: url("../img/youtube.svg") center no-repeat;
}

.footer-developer {
    width: 400px;

    text-align: center;
}

.footer-developer p {
    display: inline-block;

    vertical-align: middle;

    margin: 0;
    padding-right: 6px;

    line-height: 26px;

    color: #000;
}

.footer-developer-logo {
    display: inline-block;

    vertical-align: middle;

    width: 115px;
    height: 42px;

    background: url("../img/developer_logo_black.svg") center no-repeat;
}

.footer-developer-logo:hover {
    background-image: url("../img/developer_logo_blue.svg");
}

.footer-developer-logo:active {
    background-image: url("../img/developer_logo_grey.svg");
}

.modal {
    box-sizing: border-box;

    padding: 55px;

    width: 568px;
    height: 395px;

    background-color: #fff;
}

.form-group {
    position: relative;

    display: block;
}

.form-group label {
    display: inline-block;

    width: 93px;

    padding-right: 15px;

    line-height: 26px;

    font-weight: bold;

    color: #000;
}

.form-group input {
    font: inherit;

    box-sizing: border-box;

    margin-bottom: 29px;
    padding: 8px 13px;

    width: 346px;

    line-height: 26px;
    font-weight: bold;

    color: #000;
    background-color: #f2f2f2;

    text-transform: uppercase;

    border: none;
}

.calendar-icon {
    position: absolute;

    display: block;

    width: 21px;
    height: 22px;

    top: 8px;
    right: 14px;

    background: url("../img/calendar.svg") center no-repeat;
}

.form-group-age {
    display: flex;
    justify-content: space-between;
}

.form-group-age-children label {
    text-align: right;
}

.form-group-age input {
    margin-bottom: 54px;
    padding: 8px 38px;

    width: 114px;

    text-align: center;
}

.form-group-age-adults,
.form-group-age-children {
    position: relative;
}


.form-group-age-adults::before,
.form-group-age-children::before {
    content: "";

    position: absolute;

    width: 12px;
    height: 3px;

    top: 20px;
    left: 125px;

    background-color: #a9a9a9;
}

.form-group-age-adults::after,
.form-group-age-children::after {
    content: "";

    position: absolute;

    width: 11px;
    height: 11px;

    top: 16px;
    left: 200px;

    background: url("../img/form-plus.png") center no-repeat;
}

.modal-button {
    font: inherit;

    display: inline-block;

    margin: 0 auto;
    margin-bottom: 55px;
    padding: 15px 196px 22px 196px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;

    text-transform: uppercase;

    width: 458px;

    color: #fff;
    background-color: #81b3d2;
    border: none;

}